*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: url("./images/background.jpeg"); */
    background-size:cover;
}   
img{
    height: 250px;
    width: 250px;
    border-radius: 70px;
}
body{
    background-image: url(./images/wallpaperflare.com_wallpaper.jpg);
}
button{
    opacity: 0.7;
    background-color: rgb(238, 132, 224);
    color: black;
    font-size: 30px;
    border-style: none;
    transition: 0.05s;
    
}
button:hover{
    background-color: rgb(245, 78, 231); 
}


.header,.score-tracker{
    border: 2px solid red;
    color: yellow;
}


.header{
    text-align: center;
    padding: 50px 50px;
    font-size: 30px;
}

.score-tracker{
    padding: 40px;
    text-align: center;
    font-size: 20px;

}

.button{
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
}
.container{
    padding: 5% 15%;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.container-paper, .container-rock,.container-scissor{
    display: flex;
    flex-direction: column;
}
.container button{
    align-self: center;
    align-content:center;
    margin-top: 20px;
    width: 200px;
    padding: 0px;
    border-radius:100px;
}
.container img{
    opacity: 0.75;
    border: 5px solid black;
}